.header {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: mediumaquamarine;
  width: 100%;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 2;
}
ul {
  width: 350px;
}
ul li {
  display: inline-block;
  flex-direction: row;
}
.header nav {
  position: absolute;
  right: 0px;
  justify-content: space-around;
}
a {
  color: black;
}
.header span,
.header li {
  padding: 15px;
}
.header img {
  margin: 5px;
}
.main {
  display: flex;
  position: relative;
  top: 50px;
  width: 100%;
  justify-content: space-around;
}
.columnlarge {
  width: 630px;
}
.columnmedium {
  width: 300px;
}
.columnsmall {
  width: 240px;
}
.main,
.columnlarge,
.columnmedium,
.columnsmall,
h1,
h2,
p {
  border-style: solid;
}
